@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #1E293B;
	border-radius: 5px;
}

@layer base {
	::-webkit-scrollbar-track {
		@apply bg-slate-900;
	}

	h1 {
		@apply text-3xl sm:text-4xl font-semibold capitalize italic;
	}

	h2 {
		@apply text-2xl sm:text-3xl font-medium capitalize italic;
	}

	h3 {
		@apply text-xl sm:text-2xl font-normal capitalize italic;
	}

	p {
		@apply text-lg font-normal leading-8 capitalize;
	}

	aside {
		@apply z-10 lg:z-0 p-5 w-48 absolute bottom-0 top-0 lg:static shadow overflow-hidden
		hidden lg:block bg-primary text-primary-content;
	}
}

@layer components {
	.info-list-items {
		@apply flex items-center gap-1 border-b-4
		 border-dotted border-slate-800 pb-2 text-left;
	}

	.info-list-title {
		@apply capitalize inline-block min-w-[100px] text-lg sm:min-w-[100px];
	}

	.custom-card{
		@apply flex flex-col gap-2 p-4 border rounded-lg w-10/12 sm:w-[initial] mx-auto sm:mx-[initial] shadow-xl;
	}

	.custom-btn {
		@apply block w-full py-2 text-center duration-500 ease-in-out rounded-lg;
	}
}
